aiohttp==3.7.4.post0
altair==4.1.0
apturl==0.5.2
argon2-cffi==20.1.0
astor==0.8.1
astroid==2.4.2
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
Automat==0.8.0
backcall==0.2.0
base58==2.1.0
beautifulsoup4==4.8.2
bleach==3.2.1
blinker==1.4
bottle==0.12.19
cachetools==4.2.2
catfish==1.4.13
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloud-init==20.1
colorama==0.4.3
colorlog==4.2.1
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distro==1.4.0
distro-info===0.23ubuntu1
ecdsa==0.16.0
entrypoints==0.3
esphome==1.15.3
esptool==2.8
fasttext==0.9.2
gitdb==4.0.7
GitPython==3.1.18
h5py==3.2.1
html5lib==1.0.1
httplib2==0.14.0
hyperlink==19.0.0
idna==2.8
ifaddr==0.1.7
img2pdf==0.3.3
importlib-metadata==1.5.0
incremental==16.10.1
iotop==0.6
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.5.2
jedi==0.17.2
Jinja2==2.10.1
json5==0.9.5
jsonpatch==1.22
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab==2.2.9
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
jupyterlab-widgets==1.0.0
keyring==18.0.1
kiwisolver==1.0.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lightdm-gtk-greeter-settings==1.2.2
lxml==4.5.0
macaroonbakery==1.3.1
Markdown==3.1.1
MarkupSafe==1.1.0
marshmallow==3.9.1
matplotlib==3.1.2
mccabe==0.6.1
menulibre==2.2.1
minify-html==0.4.10
mistune==0.8.4
more-itertools==4.2.0
mugshot==0.4.2
multidict==5.1.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.3
netifaces==0.10.4
notebook==6.1.5
numpy==1.20.2
oauthlib==3.1.0
ocrmypdf==9.6.0+dfsg
olefile==0.46
onboard==1.4.1
packaging==20.4
paho-mqtt==1.5.0
pandas==1.2.4
pandocfilters==1.4.3
parso==0.7.1
pdfminer.six==20191020
pexpect==4.8.0
pickleshare==0.7.5
pikepdf==1.10.3+dfsg
Pillow==7.0.0
platformio==4.3.4
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.12.2
psutil==5.5.1
ptyprocess==0.6.0
pyaes==1.6.1
pyarrow==4.0.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
PyAudio==0.2.11
pybind11==2.6.2
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pydeck==0.6.2
pyelftools==0.27
Pygments==2.7.2
PyGObject==3.36.0
PyHamcrest==1.9.0
pyhome==0.3.0
PyJWT==1.7.1
pylint==2.6.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyQt5==5.14.1
PyQtWebEngine==5.14.0
pyRFC3339==1.1
pyrsistent==0.15.5
pyserial==3.4
python-apt==2.0.0
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
pytz==2020.1
pyxattr==0.6.1
pyxdg==0.26
PyYAML==5.3.1
pyzmq==20.0.0
Recoll==1.0
recollchm==0.8.4.1+git
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
scipy==1.7.0
seaborn==0.11.1
SecretStorage==2.3.1
semantic-version==2.8.5
Send2Trash==1.5.0
service-identity==18.1.0
sgt-launcher==0.2.5
simplejson==3.16.0
sip==4.19.21
six==1.14.0
smmap==4.0.0
sortedcontainers==2.1.0
soupsieve==1.9.5
ssh-import-id==5.10
streamlit==0.84.0
systemd-python==234
tabulate==0.8.7
terminado==0.9.1
testpath==0.4.4
textdistance==4.2.1
toml==0.10.1
toolz==0.11.1
tornado==6.0.4
tqdm==4.30.0
traitlets==5.0.5
Twisted==18.9.0
typing-extensions==3.7.4.3
tzlocal==2.1
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.8
validators==0.18.2
voluptuous==0.11.7
wadllib==1.3.3
watchdog==2.1.3
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xcffib==0.8.1
xkit==0.0.0
yarl==1.6.3
zipp==1.0.0
zope.interface==4.7.1
